@font-face {
    font-family: "Gotham Pro";
    src: url("gotham-pro/gotham-pro.woff2") format("woff2"), url("gotham-pro/gotham-pro.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("gotham-pro-medium/gotham-pro-medium.woff2") format("woff2"), url("gotham-pro-medium/gotham-pro-medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("gotham-pro-bold/gotham-pro-bold.woff2") format("woff2"), url("gotham-pro-bold/gotham-pro-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
